# 기본 동작을 자동으로 라인 엔딩을 정규화하도록 설정합니다.
* text=auto

# 텍스트 파일을 명시적으로 선언하여 항상 정규화되고 체크아웃 시 네이티브 라인 엔딩으로 변환되도록 합니다.
*.c text
*.cc text
*.h text
*.swift text
*.cmake text
*.lock text
*.metadata text

# 체크아웃 시 항상 CRLF 라인 엔딩을 갖는 파일을 선언합니다.
*.bat eol=crlf

# 체크아웃 시 항상 LF 라인 엔딩을 갖는 파일을 선언합니다.
*.sh eol=lf
